/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
*/
select {
    max-width: 100%;
    width: 100%;
}
select option{
    max-width: 360px !important;
}

@media only screen and (max-width: 460px) {
    select option{
        max-width: 260px !important;
    }
}