<% if @order and @order.completed_at? and (request.path == edit_admin_order_path(:id => @order.number)) %>
<li><%= button_link_to 'Json', json_from_api_admin_order_path(), :icon => 'file-code-o' %></li>
<% end %>